<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect old-domain to new-domain" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="*" />
                    </conditions>
                    <action type="Redirect" url="https://www.youtube.com/watch?v=Bf00KI2MEGg&list=PLUyclMg9gp7xW0Qa4JtSo_2cqfEKF7rSu" redirectType="Permanent" />
                </rule>              
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
